<div class="row">

    <div class="col-sm-6 col-md-3">
        <ul class="list-group">
            {{#each orders}}<li class="list-group-item">
                <p>{{this.name}}</p>
                <p>{{#each this.cart.items}} <p>{{this.item.title}}</p> {{/each}}</p>
                <p>{{this.adress}}</p>

            </li>{{/each}}
        </ul>
    </div>

</div>